.card {
  margin: 10px;

  height: 200px;
  border-radius: 5px;
  box-shadow: 2px 3px rgba(200, 200, 200, 0.3);
  h4 {
    margin: 0px;
    padding: 10px 10px;
  }
  p {
    padding: 0px 10px;
    margin-bottom: 0px;
  }
}

.card-thumbnail {
  background-color: #F8F9FA;
  height: 75%;
}
.pl-3 {
  margin-left: 10px;
}

.card-footer {
  background-color: white;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    padding: 0px 10px;
  }
}
